body, td, div {
	font-family:helvetica, arial, sans-serif;
	font-size:12px;
}
.row{border-bottom:1px solid #ccc;}
.tableHeader{ background-color:#333; color:white;}

li {
	line-height: 20px;
}
.title{border-bottom:4px solid #4B76CA}